<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.BabiMumba.Esis_app">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_DOWNLOAD_MANAGER" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyEsisalama"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".users.SearchUserActivity"
            android:exported="false" />
        <activity
            android:name=".users.ImageView"
            android:exported="false" />
        <activity
            android:name=".home.SyllabusViewer"
            android:exported="false" />
        <activity
            android:name=".home.Add_book"
            android:exported="false" />
        <activity
            android:name=".chat.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".users.Profil_DetailUser"
            android:exported="false" />
        <activity
            android:name=".home.HoraireActivity"
            android:exported="false"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".admin.PromotionnellPage"
            android:exported="false" />
        <activity
            android:name=".Authentification.RegisterAdmin"
            android:exported="false" />
        <activity
            android:name=".home.DetailleNews"
            android:exported="false" />
        <activity
            android:name=".home.AddnewsActivity"
            android:exported="false" />
        <activity
            android:name=".home.SyllabusPromo"
            android:exported="false" />
        <activity
            android:name=".home.ThankActivity"
            android:exported="false" />
        <activity
            android:name=".Authentification.GoogleCountActivity"
            android:exported="false" />
        <activity
            android:name=".admin.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".admin.AllusersActivity"
            android:exported="false"
            android:theme="@style/Recherche" />
        <activity
            android:name=".admin.SaleControleActivity"
            android:exported="false" />
        <activity
            android:name=".users.DeleteCount"
            android:exported="false" />
        <activity
            android:name=".Authentification.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".home.FeedBack"
            android:exported="false" />
        <activity
            android:name=".home.AboutDeveloppeur"
            android:exported="false" />
        <activity
            android:name=".home.DocumentActivity2"
            android:exported="false" />
        <activity
            android:name=".users.UpdateProfilActivity"
            android:exported="false" />
        <activity
            android:name=".users.ProfilUser"
            android:exported="false" />
        <activity
            android:name=".home.LectureActivity"
            android:exported="false" />
        <activity
            android:name=".home.InfosSyllabusActivity"
            android:exported="false" />
        <activity
            android:name=".home.DetailleActivity"
            android:exported="false" />
        <activity
            android:name=".home.PublicationSyllabus"
            android:exported="false" />
        <activity
            android:name=".home.PublishPost"
            android:exported="false" />
        <activity
            android:name=".home.InfosActivity"
            android:exported="false" />
        <activity
            android:name=".home.PosteDetaille"
            android:exported="false" />
        <activity
            android:name=".home.LectureActivity_Pdf"
            android:exported="false"
            android:theme="@style/Theme.Mydark" />
        <activity
            android:name=".home.ResultatActivity"
            android:exported="false" />
        <activity
            android:name=".home.ActualiteActivity"
            android:exported="false" />
        <activity
            android:name=".Authentification.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Authentification.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".home.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".fcm.MyFirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/white" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/my_notif_ic" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id_teste" />
    </application>

</manifest>